name: Check code format

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  check_python:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: psf/black@stable
      with:
        options: "--check --diff --color"
        src: "."
        jupyter: true

  check_cpp:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: DoozyX/clang-format-lint-action@v0.20
      with:
        source: './src'
        clangFormatVersion: 20
        style: file
